@import "tailwindcss";
* {
    @apply box-border
}

body {
    @apply bg-black text-white;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: #374151 !important; 
  color: #ffffff !important;
  -webkit-box-shadow: 0 0 0px 1000px #374151 inset;
  -webkit-text-fill-color: #ffffff !important;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}